{% extends "base.html" %}
{% block title %} Éditer un Employé (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
       <div class="col-md-12">
          <p>
             Éditer un Employé
          </p>
          <form action="" method="POST" novalidate>
             {{ form_update_film.hidden_tag() }}
             <div class="form-group">
                <p>
                   {{ form_update_film.nom_film_update_wtf.label }}<br>
                   {{ form_update_film.nom_film_update_wtf(cols=50, rows=1) }}<br>
                   {% for error in form_update_film.nom_film_update_wtf.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                   {% endfor %}
                </p>
             </div>
             {{ form_update_film.submit(class="btn btn-primary") }}
          </form>
       </div>
    </div>
</div>
{% endblock %}